<%= form_with model: @post, local: true do |f|%>

  <div class="field">
    <%= f.label :image, "Image" %><br />
    <%= f.file_field :image, id:"post_image" %>
  </div>
  
  <div class="field">
    <%= f.label :headwear, "Headwear" %><br />
    <%= f.text_field :headwear, id:"post_headwear" %>
  </div>

  <div class="field">
    <%= f.label :tops, "Tops" %><br />
    <%= f.text_field :tops, id:"post_tops" %>
  </div>

    <div class="field">
    <%= f.label :outer, "Outer" %><br />
    <%= f.text_field :outer, id:"post_outer" %>
  </div>

    <div class="field">
    <%= f.label :bottoms, "Bottoms" %><br />
    <%= f.text_field :bottoms, id:"post_bottoms" %>
  </div> 

   <div class="field">
    <%= f.label :shoes, "Shoes" %><br />
    <%= f.text_field :shoes, id:"post_shoes" %>
  </div>

    <div class="field">
    <%= f.label :accessories, "Acessories" %><br />
    <%= f.text_field :accessories, id:"post_accessories" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>

<% end %>