<div class="contents row">
  <div class="content_post_show">
  <%= link_to image_tag(@post.image,size: '500x500'), post_path(@post.id), method: :get %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(@post.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <span class="name_show">
      <a href="/users/<%= @post.user.id %>">
        <%= @post.user.name %>
      </a>
    </span>
  </div>
   <table class="coordinate-item">
      <tbody>
        <tr>
          <th class="detail-item">Headwear</th>
          <td class="detail-value"><%= @post.headwear %></td>
        </tr>
        <tr>
          <th class="detail-item">Tops</th>
          <td class="detail-value"><%= @post.tops %></td>
        </tr>
        <tr>
          <th class="detail-item">Outer</th>
          <td class="detail-value"><%= @post.outer %></td>
        </tr>
        <tr>
          <th class="detail-item">Bottoms</th>
          <td class="detail-value"> <%= @post.bottoms %></td>
        </tr>
        <tr>
          <th class="detail-item">Shoes</th>
          <td class="detail-value"><%= @post.shoes %></td>
        </tr>
        <tr>
          <th class="detail-item">Accessories</th>
          <td class="detail-value"><%= @post.accessories %></td>
        </tr>
      </tbody>
    </table>
        <div class="option">
      <div class="favorite-btn">
      <% if user_signed_in? && current_user != @post.user %>
    <% if current_user.favorite_find(@post.id) %>
      <%= link_to 'お気に入りからはずす', post_destroy_favorite_path(@post.id), method: :delete %>
    <% else %>
      <%= link_to 'お気に入り登録する', post_create_favorite_path(@post.id), method: :post %>
    <% end %>
  <% end %>
  </div>
